.msg-box {
    width: 100%;
    /* margin-bottom: 5rem; */
}

.m-bottom {
    margin-bottom: 5rem;
}

.msg-message {
    margin-left: 1rem;
}

.cmt-box {
    margin-left: 3rem;
}

.cmt-message {
    margin-left: 2rem;
}

.trash{
    width: 20px;
}